<!DOCTYPE html>
<html>
    <head>
        <title>Your Risk Profile</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Gender: <input type="number" name="Gender", placeholder="Enter Gender" required/>
            <br><br>
            Age: <input type="number" name="Age", placeholder="Enter Age" required/>
            <br><br>
            <button>Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>